.app {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.app__container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 100%;
  padding: 28px 28px 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.app__title {
  font-weight: 500;
}

.app__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-height: 520px) {
  .app {
    height: 100%;
  }
}
