*:root {
  --mainColor:#FF7F50;
}

.card-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card-info-about {
  background-color:var(--mainColor);
  border-radius: 10px;
  margin: 20px 20px 0 0;
  text-align: left;
  padding: 35px 45px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  text-indent: 20px;
  flex-grow: 1;
}

.card-info-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: start;
}
.flag {
  width: 250px;
  max-height: 180px;

  border-radius: 15px;
  background-color: var(--mainColor);
  border: 0.2px solid var(--mainColor);
  margin: 0 auto 20px;
}
.country-key-facts {
  background-color: var(--mainColor);
  border-radius: 15px;
  flex-grow: 1;
}
.area {
  display: flex;
  flex-direction: row;
}
.area__first,
.population__first,
.pop_den,
.capital__first,
.gov__first,
.head,
.head__gov {
  max-width: 50%;
  width: 100%;
  text-align: start;
}
.population {
  display: flex;
  flex-direction: row;
}

.population-density {
  display: flex;
  flex-direction: row;
}
.capital {
  display: flex;
  flex-direction: row;
}

.government {
  display: flex;
  flex-direction: row;
}
.head-of-state {
  display: flex;
  flex-direction: row;
}
.head-of-government {
  display: flex;
  flex-direction: row;
}

.country-key-facts {
  padding: 10px;
  font-family: 'Poppins';
  font-size: 11px;
  font-weight: 400;
}

.title {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 500;
}

h3.card__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
}

.about {
  max-height: 400px;
  overflow-y: auto;
}

@media screen and (max-width: 570px) {
  .card-info-wrapper {
    flex-wrap: wrap;
  }
}
