.widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 30%;
  padding: 0 10px;

  border: 0.1px solid rgba(15, 5, 47, 0.5);
  color: #fff;
  background: #778899;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px ;
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 800px) {
  .widget {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;

    border-radius: 10px;
  }
}
