.footer {
  color: #ffffff;
  margin-top: 20px;
}

.footer__link {
  text-decoration: none;
  margin: 5px 5px 0;
  transition: margin 0.2s ease-in-out;

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.footer__link_black {
  color: #000000;
}

.footer__link:hover {
  margin-top: -1px;
}

.footer__rs-logo {
  width: 51px;
  height: 19px;

  color: transparent;

  background-image: url('../../assets/images/rs_school_js.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__rs-logo:hover {
  color: transparent;
}

.footer__link__wrapper {
  display: flex;
  align-self: flex-end;
}

.widget__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
