.lang-menu-button {
  display: block;
  margin-right: 14px;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.lang__icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* select {
  padding: 3px;
  margin: 0 10px 0 2px;
  border-radius: 4px;
  box-shadow: 0 3px 0 #025c5433, 0 -1px #008a67 inset;
  background-color: #3ccdd7;
  color: #000000;
  border: none;
  outline: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  width: 50px;

  transition: background-color 0.4s ease, color 0.4s ease;
} */
select {
  display: none;
}

select:hover {
  background-color: #000;
  color: #fff;
}

.label__wrapper {
  position: relative;
}

.label__wrapper:after {
  content: '<>';
  font-size: 11px;
  color: #000;
  transform: rotate(90deg);
  right: 14px;
  padding: 0 0 2px;
  border-bottom: 1px solid #3ccdd733;
  position: absolute;
  pointer-events: none;
}
.label__wrapper:before {
  content: '';
  right: 10px;
  top: 0px;
  width: 20px;
  height: 20px;
  color: #000;
  border-radius: 4px;
  position: absolute;
  pointer-events: none;
  display: block;
}
