@import '~react-image-gallery/styles/css/image-gallery.css';
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins-Medium'),
    url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins-SemiBold'),
    url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins-Bold'),
    url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: Poppins, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 10px;
  min-height: 100%;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

a.Mui-selected {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #3ccdd7;
}

a.Mui-selected span {
  color: #000000;
}

span.MuiTabs-indicator {
  background-color: #000000;
}

@media (max-width: 500px) {
  html {
    font-size: 6px;
  }

  .MuiTabs-flexContainer {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .MuiTabs-flexContainer {
    flex-direction: column;
  }
}

@media (max-width: 1070px) and (min-width: 501px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1280px) and (min-width: 1070px) {
  html {
    font-size: 10px;
  }
}




.image-gallery-thumbnail {
  max-width: 100px;
  overflow: hidden;
}
.image-gallery-thumbnail:focus {

  box-shadow: 0px 4px 10px 0px #000000 25%;
  border: none;
}

.image-gallery-slide .image-gallery-image {
  object-fit: cover;
}
.image-gallery-slide {
  left: -20px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 35px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg:hover {
  color: #d8f5f7;
}

