header.tabs {
  border-radius: 30px 30px 0px 0px;
  
  background: #d8f5f7;

  overflow: hidden;
  border: 0.1px solid rgba(15, 5, 47, 0.5);
}

.root {
  background: #3ccdd733;
}

a.myTab {
  color: black;

  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #000000;

  border: 0.1px solid rgba(15, 5, 47, 0.5);
}

@media screen and (max-width: 500px) {
  div.tabs {
    flex-direction: column;
  }
}
