header.tabs {
  border-radius: 5px;
  
  background: #778899;

  overflow: hidden;
  border: 0.1px solid rgba(15, 5, 47, 0.5);
}

.root {
  background: #b2ffd6;
}

a.myTab {
  color: #fff;

  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
 

  border: 0.5px solid rgba(73, 72, 77, 0.5);
}

@media screen and (max-width: 500px) {
  div.tabs {
    flex-direction: column;
  }
}
