.auth-header {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #fff;
  margin-top: 1.9rem;
  margin-left: 34px;
  text-align: left;
}

.auth-form {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth-label {
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: capitalize;
  margin-top: 1.8rem;
  color: #5a5a5a;
}

.auth-input {
  height: 4.5rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 1.6rem;
}

.button__wrapper {
  margin-top: 3rem;
  width: 100%;
}

.skip-button {
  background: rgba(60, 205, 215, 0.15);
  border-color: rgba(60, 205, 215, 0.4);
  box-shadow: 0px 4px 10px rgba(60, 205, 215, 0.4);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: capitalize;
  color: #0f052f;
  margin-top: 25px;
  padding: 0 10px;
  align-self: center;
}

.change-login__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 11.7rem;
  color: #c4c4c4;
  padding: 0 10px;
  cursor: pointer;
}

.error-label {
  color: red;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: capitalize;
  margin-top: 5px;
}
