.auth-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-block {
  width: 30%;
}

.left-block {
  width: 70%;
}

.auth-container {
  min-width: 295px;
  min-height: 500px;
  border-radius: 30px;
  margin-left: 28px;
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/authBcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 500px) {
  .auth-container {
    min-width: 310px;
  }
}

@media (max-width: 1280px) and (min-width: 501px) {
  .auth-container {
    min-width: 250px;
  }
}
